<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CareerCupYahoo/src/com/careercupYahoo/concepts/JavaReference.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.careercupYahoo.concepts.JavaReference"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CareerCupYahoo"/>
</launchConfiguration>
